.action__box {
  position: relative;
  display: block;
  min-width: 224px;
  right: -14px;
  top: -4px;
  background-color: white;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -12px;
    right: 22px;
    width: 0;
    height: 0;
    border: 6px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}

.action__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;

  .action__item {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px 8px 8px;
    margin: 0;
    white-space: nowrap;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
      background-color: rgba(238, 238, 238, 0.418);
    }
  }
}

//header Menu

.header {
  position: relative;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.back-btn {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  font-size: 1.8rem;
  padding-right: 4px;
}

.header-title {
}
