.wrapper {
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 20px 0 24px;

  &:hover {
    background-color: rgba(238, 238, 238, 0.418);
    cursor: pointer;
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.user-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.user__id-box {
  display: flex;
  align-items: center;
}

.user__id {
  margin-right: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'IBM Plex Sans', 'ProximaNova', sans-serif;
}

.user__check-icon {
  font-size: 1.4rem;
  color: rgb(32, 213, 236);
}

.user__name {
  font-weight: thin;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
