.sidebar {
  perspective: 1px;
  display: flex;
  flex-direction: column;
  width: 348px;
  padding: 20px 0px 26px 8px;
  z-index: 7777;
  background-color: white;
  height: calc(100vh - var(--height-header));
  overflow: auto;
}

.main-container:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.main-container:not(:first-child) {
  padding: 16px 0;
  color: #161823bf;
  font-family: 'IBM Plex Sans', 'ProximaNova', Arial, Tahoma, 'PingFangSC', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
  }
}

.main-container__text-login {
  color: rgba(22, 24, 35, 0.5);
  margin-bottom: 16px;
}

.tag-list {
  margin-bottom: -8px;
}

.footer-list {
  margin-bottom: -16px;
}
